# Project exclude paths
/.gradle/
/build/
/CodeStyleAndFormatting/CodeSchemasAndEditorConfig/task/build/
/CodeStyleAndFormatting/WhatIsFormatting/ReformatTheCodePractice/build/
/CodeStyleAndFormatting/WhatIsFormatting/ReformatTheCodeUsingIDEPractice/build/
/ExtractingCode/WhatIsExtractMethodRefactoring/ExtractDuplicatedCodePractice/build/
/ExtractingCode/WhatIsExtractVariableRefactoring/ExtractMagicConstantsPractice/build/
/InliningCode/InlineMethodRefactoring/InlineMethodAndVariablesPractice/build/
/InliningCode/MiddleManCodeSmell/task/build/
/InliningCode/WhatIsInlineVariableRefactoring/InlineVariablesPractice/build/
/MovingCode/WhatArePullUpAndPushDownRefactorings/task/build/
/MovingCode/WhatIsMoveMethodRefactoring/task/build/
/RefactoringAndItsPurpose/Practice/RefactoringAndItsPurposePractice/build/
/RefactoringToDesignPatterns/FacadePatternPractice/task/build/
/RefactoringToDesignPatterns/FactoryMethodPatternPractice/task/build/
/RefactoringToDesignPatterns/StrategyPatternPractice/task/build/
/RenamingCode/RenameRefactoringInIDE/FixTyposPractice/build/
/util/build/